In [1]:
import pandas as pd

import the table from html page and extract the first table

In [41]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", na_values=["Not assigned"])
df = df[0]
df.dropna(subset = ["Borough"], inplace = True)
df

,Postal code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

In [42]:
df.describe(include="O")

       Postal code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M1P  North York    Downsview
freq             1          24            4

In [43]:
df[df["Neighborhood"]== "Downsview"]

   Postal code     Borough Neighborhood
65         M3K  North York    Downsview
74         M3L  North York    Downsview
83         M3M  North York    Downsview
92         M3N  North York    Downsview

In [45]:
df.shape

(103, 3)